.modal__title {
  margin: 0;
}

.modal__text {
  margin: 24px 0 8px 0;
}

.modal__text_type_last {
  margin-bottom: 12px;
}

.modal__radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.modal__radio-container:last-of-type {
  margin: 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 4px 0;
}

.modal__submit-button {
  margin-top: 32px;
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  width: 124px;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #000;
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.modal__submit-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease-out;
}

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-out;
  cursor: initial;
}
