.modal {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0;
  pointer-events: none; */
}

.modal__content {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  position: relative;
  padding: 28px 28px 36px 28px;
  width: 496px;
  box-sizing: border-box;
}

.modal__content_type_image {
  padding: 0;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: url(../../images/close-button.svg) no-repeat center;
  border: none;
}

.modal__close-button_type_white {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 20px;
  height: 20px;
  background: url(../../images/close-button-white.svg) no-repeat center;
  border: none;
}

.modal__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__close-button_type_white:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 24px 0;
}

.modal__text {
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 0 0 4px 0;
}

.modal__submit-button {
  margin-top: 32px;
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  width: 124px;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #000;
  display: block;
}

@media screen and (max-width: 750px) {
  .modal__content {
    width: 300px;
  }
}
