.switch__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch__label {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  color: #7e7e7e;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 56px;
  height: 28px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  position: relative;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.15s ease-out;
  user-select: none;
}

.switch__label:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.switch__slider {
  border-radius: 20px;
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  left: -2px;
  transition: 0.15s ease-in-out;
}

.switch__text-F {
  position: absolute;
  top: -8px;
  left: 8px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-out;
}

.switch__text-C {
  position: absolute;
  top: -8px;
  right: 8px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.15s ease-out;
}

.switch__text_active {
  color: #fff;
  transition: 0.15s ease-in-out;
}

.switch__label:hover > .switch__text_inactive {
  color: rgba(0, 0, 0, 1);
  transition: 0.15s ease-out;
}

.switch__input:checked + .switch__label .switch__slider {
  left: calc(100% + 2px);
  transform: translateX(calc(-100%));
}

.switch__label:active .switch__slider {
  width: 32px;
}
