.modal {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease-out;
}

.modal_active {
  opacity: 1;
  visibility: visible;
}

.modal_type_message-active {
  z-index: 1000;
}

.modal__content {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #fff;
  position: relative;
  padding: 28px 28px 36px 28px;
  width: 496px;
  box-sizing: border-box;
}

.modal__content_type_image {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: url(../../images/close-button.svg) no-repeat center;
  border: none;
}

.modal__close-button_type_white {
  top: 24px;
  right: 24px;
  background: url(../../images/close-button-white.svg) no-repeat center;
  /* can't see the close button against a white background, without changing background-color */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.modal__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__close-button_type_white:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .modal__content {
    width: 300px;
  }
}
