.header {
  color: #000;
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
}

.header__logo-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
}

.header__date {
  line-height: 24px; /* 120% */
}

.header__avatar-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__user-info-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__link {
  text-decoration: none;
}

.header__link:visited {
  color: inherit;
}

.header__name {
  text-align: right;
}

.header__button {
  color: #000;
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 120% */
  border: none;
  padding: 0;
  background-color: transparent;
}

.header__button:hover {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .header {
    font-size: 19px;
  }
  .header__logo-container {
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__avatar-container {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  .header__button {
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .header {
    /* flex-direction: column; */
    font-size: 17px;
    /* gap: 10px; */
  }
  .header__logo-container {
    gap: 15px;
    /* width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; */
  }
  .header__avatar-container {
    gap: 15px;
    /* max-width: 35%; */
    /* flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; */
  }
  .header__name {
    text-align: right;
  }
}
