.modal__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px 20px 0 0;
  display: block;
}

.modal__info {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__image-name {
  margin: 0;
}

.modal__image-description {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .modal__info {
    padding: 12px;
    gap: 8px;
    font-size: 17px;
  }
}
